@import './reset';
@import './components/header';
@import './components/footer';
@import './components/form';
@import './components/history';
@import './components/response';

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 90vh;
}

.deck {
  display: flex;
  flex-direction: column;
}